<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
  </head>
  <body>
    <header>
      <h1>BLOGS</h1>
    </header>

    <main>
      <article>
        <h2>Javascript</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut, veniam
          qui! Perferendis facere modi tempore iusto numquam voluptates unde,
          exercitationem ipsam tenetur quia repellat consectetur necessitatibus,
          deserunt possimus optio voluptatum!
        </p>
        <time>published: </time>
      </article>
      <hr />
      <article>
        <h2>Python</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores,
          facere velit. Dolores placeat optio labore tempora quam libero,
          doloribus similique aperiam. Saepe sed quisquam facere alias quod
          beatae? Illum, vero.
        </p>
        <time>published:</time>
      </article>
    </main>
  </body>
</html>
